name: Run Shell Scripts CI

on:
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x 02-shell-scripting/first_script.sh

      - name: Run shell script
        run: ./02-shell-scripting/first_script.sh

