name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  docker-build-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug - list repo files
        run: |
          pwd
          ls
          ls docker || echo "docker folder not found"

      - name: Build Docker image
        run: |
          cd docker/first-script
          docker build -t first-script-image .

      - name: Run Docker container
        run: docker run first-script-image

